--- 
http_interactions: 
- request: 
    method: get
    uri: http://www.xignite.com/xMetals.asmx/GetLastLondonFixing?Currency=USD&Header_Username=nate@nateclark.com&Type=LondonGold
    body: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
    body: |-
      <?xml version="1.0" encoding="utf-8"?>
      <LondonFixing xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.xignite.com/services/">
        <Outcome>Success</Outcome>
        <Identity>Request</Identity>
        <Delay>0.001</Delay>
        <Type>LondonGold</Type>
        <Symbol>AU</Symbol>
        <Currency>USD</Currency>
        <Period>Evening</Period>
        <Date>12/9/2011</Date>
        <Value>1709</Value>
        <Unit>oz</Unit>
        <Source>The London Bullion Market Association</Source>
      </LondonFixing>
  recorded_at: Sat, 10 Dec 2011 21:32:08 GMT
recorded_with: VCR 2.0.0.rc1
